<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 align = "center" th:text="'You are looking at ' + ${student.name} + '\'s page'" />

    <h2 align = "left" th:text="${student.name} + '\'s ID is ' + ${student.id}"/>
    <h2 align = "right" th:text="${student.name} + ' is ' + ${student.age} + ' years old'"/>

    <form action="#" th:action="@{/student/} + ${id}" th:object="${studentInput}" method="post">
        <input align = "center" type="submit" name="delete" value="Delete" />
        <input align = "center" type="submit" name="go to students" value="Go to Students" />
    </form>

    <form action="#" th:action="@{/student/} + ${id}" th:object="${studentInput}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Age: <input type="text" th:field="*{age}" /></p>
        <p><input type="submit" name="update" value="Update" /></p>
    </form>

</body>
</html>